/* Estilos generales */
.contact-info {
  max-width: 100vw; /* Asegura que no se exceda del ancho de la pantalla */
  color: #fff4f4 !important;
  margin-top: 50px; /* Ajuste para bajar la sección en pantallas grandes */
}

.contact-header {
  display: flex;
  justify-content: flex-start; /* Alinea al principio (izquierda) */
  align-items: center;
  color: #fff4f4;
}

.contact-header-left {
  text-align: left;
  margin-right: 30px;
  color: #fff4f4 !important;
}

.contact-header h1 {
  font-size: 3rem; 
  color: #fff4f4 !important;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.details {
  display: flex;
  margin-top: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.column {
  flex: 1;
  margin: 0 10px;
  color: #fff4f4;
}

.column h2 {
  font-size: 1.4rem;
  color: #fff4f4 !important;
}

.column p {
  font-size: 1.3rem;
  color: #fff4f4 !important;
}

.correo {
  padding-top: 20px;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .contact-header {
    flex-direction: column; /* Apila el contenido en columnas en pantallas más pequeñas */
    align-items: flex-start; /* Alinea a la izquierda */
  }

  .contact-header h1 {
    font-size: 2.2rem; /* Reduce el tamaño de la fuente del encabezado */
    color: #7d7d7d; /* Color gris para el h1 en pantallas medianas */
  }

  .details {
    flex-direction: column;
    margin-top: 20px;
  }

  .column {
    margin: 10px 0;
  }

  .column h2 {
    font-size: 1.2rem;
    color: #858585; /* Color gris más oscuro para el h2 */
  }

  .column p {
    font-size: 1.1rem;
    color: #a1a1a1; /* Color gris claro para los párrafos */
  }

  .contact-info {
    margin-top: 80px; /* Aumenta el margen superior en dispositivos medianos */
  }
}

@media (max-width: 480px) {
  .contact-header {
    justify-content: center; /* Centra el contenido en móviles */
    align-items: center;
    margin-top: 100px;
  }

  .contact-header h1 {
    font-size: 1.8rem; /* Reduce aún más el tamaño del encabezado */
    text-align: center; /* Alinea el texto del encabezado en el centro */
    color: #7d7d7d; /* Color gris para el h1 en móviles */
  }

  .details {
    flex-direction: column;
    margin-top: 10px; /* Reduce el margen superior */
  }

  .column {
    margin: 5px 0; /* Reduce el margen entre columnas */
  }

  .column h2 {
    font-size: 1rem; /* Reduce el tamaño de los títulos en columnas */
    color: #858585; /* Color gris oscuro para el h2 en móviles */
  }

  .column p {
    font-size: 0.9rem; /* Reduce el tamaño del texto de los párrafos */
    color: #a1a1a1; /* Color gris claro para los párrafos en móviles */
  }

  .correo {
    padding-top: 10px; /* Reduce el padding en la sección del correo */
  }

  .contact-info {
    margin-top: 100px; /* Baja la sección más en móviles pequeños */
    margin-bottom: 80px;
  }
}
