/* Estilos generales de la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.036);
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar.scrolled {
  background-color: #fffbfb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  
}

/* Estilos para el logo */
.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.navbar-logo img:hover {
  transform: scale(1.1);
}

/* Estilos para los enlaces del menú de navegación */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  text-shadow: 2px 2px 4px rgba(253, 250, 250, 0.9);
}

/* En pantallas móviles, cambia el color de los enlaces a negro */
@media (max-width: 480px) {
  .navbar-links a {
    color: black; /* Color negro en dispositivos móviles */
    text-shadow: 2px 2px 4px rgba(250, 218, 218, 0.9);
  }
}


.navbar.scrolled .navbar-links a {
  color: black;
}

.navbar-links a:hover {
  color: #ffffff;
}

/* Estilos para el menú hamburguesa */
.hamburger {
  display: none; /* Oculto por defecto */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  padding-right: 10px;
}

.hamburger .line {
  width: 25px;
  height: 4px;
  background-color: white;
}

.navbar-links.open {
  transform: translateX(0); /* Muestra el menú cuando está abierto */
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 60px;
    right: 0;
    height: 100vh;
    background-color: #fffbfb;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transform: translateX(100%); /* Oculta el menú fuera de la pantalla */
    
  }

  .hamburger {
    display: flex; /* Muestra el botón hamburguesa en pantallas pequeñas */
  }

  .navbar-links.open {
    transform: translateX(0); /* Muestra el menú cuando está abierto */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 1px 1px;
  }

  .navbar-logo img {
    width: 80px;
  }

  .navbar-links a {
    font-size: 24px;
  }

  .navbar-logo a {
    font-size: 18px;
  }

  .navbar-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }
}
